{
   "extends": [
        "stylelint-config-standard"
   ],

   "rules" : {
        "selector-list-comma-newline-after" : "never-multi-line",
        "rule-nested-empty-line-before" : "always",
        "max-nesting-depth" : 2

   }

}